.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-forecast-day {
  text-align: center;
}

.weather-forecast-icon {
  width: 40px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
}

.weather-forecast-temperature {
  font-size: 18px;
}

.weather-app-icon {
  width: 50px;
}
